#!/bin/sh

export OIDC_HOST="https://auth.dev.origen.ai"

export WORKER_USERNAME="worker-username-not-configured"
export WORKER_PASSWORD="worker-password-not-configured"

export REALM="ZeroOne"
export CLIENT_ID="workers"
export CLIENT_SECRET="9d8019be-9445-4338-b9de-12d7e1ecd2be"

export GITHUB_TOKEN="<repo-token>"